#main {
    background: #191919;
    border-radius: 20px;
    opacity: 100;
    border: 2px solid #0052ff;
}
#pushButton{
    background: #ff0000;
    border-radius: 10px;
    border-image:url(:x-lg.svg) ;
}