#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Welcome
Name[ir]=درود
Exec=/usr/bin/parch-welcome
Terminal=false
Type=Application
Icon=/usr/share/icons/parch-welcome.png
